

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #9fa8ce;
}

h1,h2 {
    color: rgb(129, 19, 129);
}

p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.678);
    letter-spacing: .1rem;

}

em {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

header p {
    color: white;
}

header span {
    font-weight: 500;

}


main {
    flex-grow: 1;
}


.input label {
    width: 100px;
    text-align: right;
    margin-left: 1.5rem;
}

.form-control,
.form-select {
    display: inline-block;
    width: 50%;
    margin-bottom: 5px;
}

.output {
    margin-top: 100px;
    padding-left: 200px;
}

.output .form-control {
    display: block;
}



.btn-primary {
    background-color: rgb(43, 43, 11);
    float: right;
    margin-top: 1rem;
}
